*{
    box-sizing: border-box;
}
.anchoMaximo{
    margin: 20px auto;
    max-width: 1250px;
}
.grid{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.cabeceraPrincipal{
    min-height: 300px;
    background: url(../imagenes/delfin.jpg)50% 38%/cover no-repeat;
}
.ul-nav{
    background: rgb(167, 167, 221);
    font-size: 1.3em;
}

.ul-nav ul{
    list-style-type: none;
}
.ul-nav ul li{
    padding: 20px; 
}
.ul-nav a{
    text-decoration: none;
    color: black;
}
.ul-nav a:hover{
    color: rgb(36, 239, 253);
}
.contenido-principal{
    background: url(https://previews.123rf.com/images/fokaspokas/fokaspokas1809/fokaspokas180902727/108802148-silueta-de-delf%C3%ADn-dise%C3%B1o-de-papel-s%C3%ADmbolo-cortado-estilo-sin-hueso.jpg)50% 50%/20% repeat;
    
}
.contenido-principal section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contenido-principal p{
    font-size: 1.4em;
}
.contenido-principal h1{
    font-size: 2em;
}

.footerP{
    font-size: 1.4em;
    text-align: center;
}

/* formulario */
#form-contacto{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 10px auto;
    
}

#form-contacto input,#form-contacto textarea{
    display: block;
    padding: 10px;
    margin: 10px;
    /* width: 40%; */
}
#form-contacto div input{
    display: inline;
    /* width: 2%; */
}
.centra{
    text-align: center;
}
.blue{
    color: rgb(41, 71, 136);
}
.btn-informacion{
    background: rgb(14, 200, 224);
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}
.btn-informacion:hover{
    background: rgb(35, 233, 51);
    color: rgb(15, 14, 14);
}
/* el delfin en el cine */
.imagenesD{
    display: grid;
    grid-template-columns: 450px 1fr;
    text-align: left;
    padding: 20px;
    gap: 15px;
}
.imagenesD img{
    width: 400px;
    height: 350px;
}
/* slider */

#slide-fotos{ 
    overflow: hidden;
    background: #000;
    position: relative;
    width: 60%;
    margin: 20px auto;
    border-radius: 15px;
}


img#foto-slide{
  width:100%;
  height: 400px;
  display: none;
  vertical-align: top;
  
}
#slide-fotos .inicial{
display: block;
}
#slide-fotos .mostrarFoto{
display: block;
animation-name: animarFotoAparece;
animation-duration: 1s;
animation-fill-mode: both;
}
#slide-fotos .quitarFoto{
position: absolute;
top: 0;
left: 0;

display: block;
animation-name: animarFotoDesaparece;
animation-duration: 1s;
animation-fill-mode: both;
}

#slide-fotos span{
  position: absolute;
  font-size: 3.4em;
  transition: all 1s;
  cursor: pointer;
}
#span1{
right: 50px;
bottom: 47%;
opacity: 0;
}
#span2{
left: 50px;
bottom: 47%;
opacity: 0;
}
#span1:hover,#span2:hover{
  opacity: 1;
}
